.icon-weather-degree-f,
.icon-weather-degree-f\:regular {
  @extend %icon;
  background-image: url('/assets/weather/degree-fahrenheit.svg');
  background-position: 0 0;
}
.icon-weather-degree-f-dims {
  width: 48px;
  height: 48px;
}