/**
 * Main SASS styles
 */

// theme color name
$cyan-900: #006064;


// icon scaling constants
$lrg-scale-factor: 3;
$lrg-offset-x: 10;
$lrg-offset-y: 10;

$title-font: Rancho;
@import url(//fonts.googleapis.com/css?family=#{$title-font});

$bg-color: $cyan-900;

@mixin linear-gradient($direction, $color-stops...) {
   background: nth(nth($color-stops, 1), 1);
   background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
   background: linear-gradient($direction, $color-stops);
 }

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin transform-origin ($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

// matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()):
@mixin matrix($matrix) {
  @include transform(matrix($matrix));
}

$tx-rotate-lrg-class: tx-rotate-lrg !default

@for $i from 0 through 360 {
  .#{$tx-rotate-lrg-class}-#{$i} {
    position: absolute;
    top: 30%;
    left: 30%;
    //width: 144px;
    //height: 144px;
    @include transform(matrix($lrg-scale-factor, 0, 0, $lrg-scale-factor, $lrg-offset-x, $lrg-offset-y) rotate(#{$i - 180}deg));
  }
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient($bg-color, lightcyan);
}

.wx-app-title {
  line-height: 1em;
  font-family: $title-font;
  color: rgba(darken($bg-color, 25%),0.6);
  @include transform(translate(-15%, -15%));
}

.wx-gauge {
  text-align: center;
}

.wx-gauge-icon-med {
  width: 48px;
  height: 48px;
}

.wx-gauge-icon-lrg {
  width: 144px;
  height: 144px;
  position: relative;
  left: 28%;
  overflow: hidden;
}

.wx-curr-condition {
  with: 144px;
  height: 144px;
}

.wx-gauge-large {
  color: #001A33;
}

.wx-curr-temp {
  font-size: 2.75rem;
  margin-top: 20px;
  color: darkviolet;
}

.wx-curr-temp sup {
  font-size: 1.5rem;
}

.wx-gauge-icon-lrg.wx-curr-wind-dir > svg {
  fill-opacity: 0.8;
}

//#app > div > div:nth-child(2) > div > div > div:nth-child(2) > div:nth-child(4) > div > div > div > div > table > tbody > tr:nth-child(5) > td:nth-child(1)
.wx-detail-table > tbody > tr > td:nth-child(1) {
  display: none;
}

.wx-detail-table > thead > tr > th:nth-child(1) {
  display: none;
}

.wx-gauge-media-header {
  height: 60px;
  overflow: hidden;
}